@{
    ViewData["Title"] = "Inicio";
}

<div class="container mt-4">
    <div class="jumbotron text-center">
        <h1 class="display-4">¡Bienvenido a VoluntApp!</h1>
        <p class="lead">Conecta con oportunidades de voluntariado y haz la diferencia.</p>
        <a class="btn btn-primary btn-lg" href="/Actividad/Index">Ver Actividades</a>
    </div>

    <hr />

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/images/voluntariado1.jpg" class="d-block w-100" alt="Voluntariado 1">
            </div>
            <div class="carousel-item">
                <img src="/images/voluntariado2.jpg" class="d-block w-100" alt="Voluntariado 2">
            </div>
            <div class="carousel-item">
                <img src="/images/voluntariado3.jpg" class="d-block w-100" alt="Voluntariado 3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</div>

