@{
    ViewData["Title"] = "Privacidad";
}

<h2>Política de Privacidad</h2>

<p>
    En VoluntApp, valoramos tu privacidad. Todos los datos recopilados se utilizan únicamente para facilitar la experiencia de voluntariado.
</p>
<p>
    No compartimos tu información con terceros sin tu consentimiento explícito.
</p>
